@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>H2</h2>
<h2 class="text-4xl text-purple-500 font-black">H2 H2</h2>
<div>

  <p class="text-center text-sky-300 text-6xl">ABC123 </p>
</div>