@using Microsoft.AspNetCore.Components

<nav class="bg-gray-800 py-4">
    <div class="container mx-auto flex justify-between items-center">
        <div>

            <NavLink href="/" class="text-white font-bold text-xl">BlogBlaze
            </NavLink>
        </div>
        <div class="flex items-center ml-auto">
            <NavLink href="/posts" class=" text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-bold">
                Posts
            </NavLink>
            <NavLink href="/about" class=" text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-bold">About
            </NavLink>

        </div>
    </div>
</nav>